
header{
    display:grid;
    grid-column: 1;
    grid-row: 1;
    align-items: end;
    text-align: center;
}

main{
    grid-column: 1;
    grid-row: 2;
    list-style: none;
}

h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: auto auto 35px auto;
    color: #303030;
}

.buttonPlay{
    font-size: 40px;
    color: #303030;
}

.buttonLevel, .buttonInfo{
    font-size: 32px;
    color: #303030;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    text-decoration: none;
}

.gameboard{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: 100%;
}

.red{
    grid-column: 2;
    grid-row: 1;
    background-color: #F53240;
    border-top-right-radius: 100%;
}
  
.blue{
    grid-column: 2;
    grid-row: 2;
    background-color: #7cdbd5;
    border-bottom-right-radius: 100%;
  }
  
.yellow{
    grid-column: 1;
    grid-row: 2;
    background-color: #F9BE02;
    border-bottom-left-radius: 100%;
}
  
.green{
    grid-column: 1; 
    grid-row: 1;
    background-color: rgb(40, 160, 140);
    border-top-left-radius: 100%;
}

nav{
    display: flex;
    justify-content: space-evenly;
    grid-column: 1;
    grid-row: 3;
    margin: 40px;
}

body{
    display: grid;
    justify-content: center;
    grid-template-columns: 400px;
    grid-template-rows: 1fr 400px 1fr;
}

html, body{
    height: 100%;
}