
header{
    display: flex;
    justify-content: center;
    border: 1px black solid;
    height: 20.5%;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px black solid;
    height: 60%;
}

nav{
    display: flex;
    justify-content: center;
    border: 1px black solid;
    height: 20%;
}

html, body{
    height: 100%;
}